<!-- / profileComponent \ -->
<div class="profileComponent">
    <div class="container">
        <div class="profileBg">
            <h2>Order Detail</h2>
            <div class="inner-adjust">
                <div class="row">
                    <div class="col-sm-1">
                        <label style=" padding-left: 40px;">Date:</label>
                    </div>
                    <div class="col-sm-3">
                        <label>{{$ctrl.placedOrderDetail.createdOn | date:'dd-MM-yyyy hh:mm a'}}</label>
                    </div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-1">
                        <label>OrderID:</label>
                    </div>
                    <div class="col-sm-3">
                        {{$ctrl.orderID}}
                    </div>
                </div>
                <br>
                <div class="row">
                    <h3>Product Info</h3>
                    <div>
                        <table style="text-align:center;" class="table table-hover">
                            <tr>
                                <th style="font-size: 13px;" class="col-md-2">Item Name</th>
                                <th style="font-size: 13px;" class="col-md-2">Price</th>
                                <th style="font-size: 13px;" class="col-md-2"> Quantity</th>
                                <th style="font-size: 13px;" class="col-md-2">Total</th>
                            </tr>
                            <tr ng-repeat="item in $ctrl.placedOrderDetail.order_items">
                                <td>{{item.brandName}}-{{item.variantName}}</td>
                                <td>{{item.price}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.quantity * item.price}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3>Supplier Info</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h5 class="pull-right"> Name:</h5>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="pull-left"> 
                                                    {{$ctrl.placedOrderDetail.purchaser_info[0].profile.name}}
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="row" ng-show="$ctrl.showAddress">
                                            <div class="col-sm-6">
                                                <h5 class="pull-right"> Address:</h5>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="pull-left"> 
                                                    {{$ctrl.placedOrderDetail.purchaser_info[0].profile.address}}
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="row" ng-show="$ctrl.showPhone">
                                            <div class="col-sm-6">
                                                <h5 class="pull-right"> Phone:</h5>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="pull-left"> 
                                                    {{$ctrl.purchaserNumber1}}{{$ctrl.purchaserNumber2}}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3>Balance Info</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h5 class="pull-right"> Bill Amount:</h5>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="pull-left"> 
                                                    ₹{{$ctrl.placedOrderDetail.totalAmount - $ctrl.placedOrderDetail.previousBalance}}
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h5 class="pull-right">Previous Balance:</h5>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="pull-left">
                                                    ₹{{$ctrl.placedOrderDetail.previousBalance}}
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h5 class="pull-right"> Total Amount:</h5>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="pull-left"> 
                                                    ₹{{$ctrl.placedOrderDetail.totalAmount}}
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h5 class="pull-right"> Amount Paid:</h5>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="pull-left"> 
                                                    ₹{{$ctrl.placedOrderDetail.amountPaid}}
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h5 class="pull-right"> Current Balance:</h5>
                                            </div>
                                            <div class="col-md-6">
                                                <h5 class="pull-left"> 
                                                    ₹{{$ctrl.placedOrderDetail.currentBalance}}
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div style="text-align:center">
                <button type="button" ng-click="$ctrl.cancelBtn()" class="btn btn-lg btn-default">Cancel</button>
            </div>
        </div>
    </div>
</div>
</div>
<!-- \ profileComponent end / -->
