<!-- / component2 \ -->
<div class="">
    <div class="component2">
        <div class="loading" ng-show="$ctrl.loader">
            Loading&#8230;
        </div>
        <br>
        <div class="row" style="background-color: yellow; height: 70px;">
            <div class="col-sm-9">
            </div>
            <div class="col-sm-1">
                <br>
                <a ui-sref="salesPurchase.checkout" ng-click="$ctrl.checkout()" class="btn btn-sm btn-primary">CHECKOUT</a>
            </div>
            <!-- <div class="col-sm-1">
                <br>
                <h4>({{$ctrl.itemCount}} Items)</h4>
            </div> -->
        </div>
        <br>
        <div ng-repeat="item in $ctrl.getItemDetails">
            <div class="panel panel-primary">
                <div class="panel-heading text-center" style="height: 37px;font-size: 18px;">
                    {{item.brandName}}
                </div>
                <div class="panel-body">
                    <div class="row">
                        <ul>
                            <li ng-repeat="varient in item.variants">
                                <div class="panel panel-success" style="width: 180px;">
                                    <div class="panel-heading text-center" style="height: 37px;font-size: 18px;">
                                        {{varient.name}}
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Price:</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" ng-model="varient.price" class="form-control">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Quantity:</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" ng-model="varient.quantity" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                    <div class="col-sm-5"></div>
                        <div class="col-sm-2">
                            <button class="hoverButton" ng-click="$ctrl.addToCart(item)"><span>Add to Cart</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- \ component2 end / -->
