<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}
</style>
<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-1">
            <label>From Date:</label>
        </div>
        <div class="col-sm-3">
            <datepicker date-format="yyyy-MM-dd" selector="form-control">
                <div class="input-group">
                    <span class="input-group-addon" style="cursor: pointer">
                        </span>
                    <input ng-model="$ctrl.fromDate" class="form-control" placeholder="Select date from" />
                </div>
            </datepicker>
        </div>
        <div class="col-sm-1">
            <label>To Date:</label>
        </div>
        <div class="col-sm-3">
            <datepicker date-format="yyyy-MM-dd" selector="form-control">
                <div class="input-group">
                    <span class="input-group-addon" style="cursor: pointer">
                        </span>
                    <input ng-model="$ctrl.todayDate" class="form-control" placeholder="Select till date" />
                </div>
            </datepicker>
        </div>
        <div class="col-sm-2">
            <a href="" class="btn btn-sm btn-primary" ng-click="$ctrl.showOrders($ctrl.todayDate, $ctrl.fromDate)">Show Orders</a>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <!-- <div class="col-sm-1">
        </div> -->
        <div class="col-sm-12">
            <div class="card well" ng-repeat="order in $ctrl.orders">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="col-sm-2">
                            <h3><b>{{order.name}}</b></h3>
                            <h4>(S)</h4>
                        </div>
                        <div class="col-sm-2">
                            <h5><b>OrderID</b></h5>
                            <h6>{{order.orderID}}</h6>
                        </div>
                        <div class="col-sm-1">
                            <h5><b>Date</b></h5>
                            <h6></h6>
                        </div>
                        <div class="col-sm-2">
                            <h5><b>Bill Amount</b></h5>
                            <h6>{{order.billAmount}}</h6>
                        </div>
                        <div class="col-sm-2">
                            <h5><b>Previous Bill</b></h5>
                            <h6>{{order.previousBalance}}</h6>
                        </div>
                        <div class="col-sm-2">
                            <h5><b>Amount Paid</b></h5>
                            <h6>{{order.amountPaid}}</h6>
                        </div>
                        <div class="col-sm-1">
                            <h5><b><a href="">View Full Order</a></b></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
