<!-- / profileComponent \ -->
<div class="profileComponent">
    <div class="container">
        <div class="profileBg">
            <h3>Edit Product Detail</h3>
            <div class="panel panel-success">
                <div class="panel-body" style="height: 300px;">
                    <div style="height:250px;overflow:auto;">
                        <table class="table table-hover" id="top">
                            <tr>
                                <th style="font-size: 13px;" class="col-md-2">Item Name</th>
                                <th style="font-size: 13px;" class="col-md-2"> Price</th>
                                <th style="font-size: 13px;" class="col-md-2">Quantity</th>
                                <th style="font-size: 13px;" class="col-md-2">Total(₹)</th>
                                <th style="font-size: 13px;" class="col-md-2">Action</th>
                            </tr>
                            <tr class="text-center">
                                <td>
                                    <ui-select name="productDetail" ng-model="$ctrl.selectedProduct" theme="selectize" style="width: 160px;" title="Select Item" on-select="$ctrl.onSelectItem($item, $model)">
                                        <ui-select-match placeholder="Select Item">{{$select.selected.brandName || 'Select Item'}}-{{$select.selected.variantName}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="product in $ctrl.allProductsInfo | filter: $select.search">
                                            <span ng-bind-html="product.productInfo | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td>
                                    <input type="number" name="price" ng-model="$ctrl.selectedProduct.price" class="form-control">
                                </td>
                                <td>
                                    <input type="number" name="quantity" ng-model="$ctrl.selectedProduct.quantity" class="form-control">
                                </td>
                                <td>
                                    {{$ctrl.selectedProduct.price * $ctrl.selectedProduct.quantity}}
                                </td>
                                <td><a href="" ng-click="!$ctrl.selectedProduct.productInfo || $ctrl.addProduct()" class="btn btn-sm btn-primary">+</a></td>
                            </tr>
                            <tr  ng-repeat="pdt in $ctrl.productDetail.order_items track by $index" class="text-center">
                                <td>
                                    <ui-select name="productDetail" ng-model="pdt" theme="selectize" style="width: 160px;" title="Select Item">
                                        <ui-select-match placeholder="Select Item">{{$select.selected.productInfo || 'Select Item'}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="product in $ctrl.allProductsInfo | filter: $select.search">
                                            <span ng-bind-html="product.productInfo | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td>
                                    <input type="text" ng-model="pdt.price" class="form-control" name="">
                                </td>
                                <td>
                                    <input type="text" ng-model="pdt.quantity" class="form-control" name="">
                                </td>
                                <td>{{pdt.totalPrice}}</td>
                                <td>
                                    <a href="" class="btn btn-sm btn-danger" ng-click="$ctrl.deleteProduct($index)"><span class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br>
            <div class="panel panel-success">
                <div class="panel-body">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-8">
                                <label class="pull-right">Bill Amount({{$ctrl.productDetail.order_items.length}} items):</label>
                            </div>
                            <div class="col-sm-4 padding-left-22">
                                ₹{{$ctrl.productDetail.billAmt}}
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">\
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <button type="button" ng-click="$ctrl.cancelBtn()" class="btn btn-lg btn-default">Cancel</button>
                </div>
                <div class="col-md-1">
                    <button type="button" ng-click="$ctrl.edit()" class="btn btn-lg btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- \ profileComponent end / -->
